@import url(./header.css);


.Menu-cart{
    position:relative;
}
.Menu__cart-content{
    position: fixed;
    display:flex;
    justify-content:center;
    align-items:center;
    right:10%;
    top:35%;
    height:60px;
    width:60px;
    border-radius: 50%;
    color: var(--gray-small);
    background-color:var(--purple-second);
    z-index:1;
}

.Cart__container{
    position: fixed;
    display: none;
    opacity: 0;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms;
    will-change: opacity;
    z-index: 1;
    visibility: hidden;
    overflow: scroll;

  
}

.Cart__container.active{
    opacity: 1;
    display: block;
    z-index: 1;
    visibility: visible;
}

.Cart__content{
  margin: 50px 10px;
  padding: 20px 15px;
  background-color:var(--gray-small);
  position: relative;
  border-radius: 15px;
    max-width: 1024px;
    margin:52px auto;
}

.Cart__close{
  position: absolute;
  font-size: 1.5rem;
  bottom: 30px;
  right:30px;
  color: var(--purple-color);
  cursor: pointer;
}
.Cart__close:hover{

  color: var(--purple-second);

}


.section-header{
  color: var(--purple-color);
  text-align: center;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: var(--gray-second) ;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--gray-medium);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: var(--gray-second);
}

.cart-quantity {
    width: 35%;
    
}

.cart-item-title {
    color: var(--purple-color);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: var(--purple-second);
    /* background-color: #EB5757; */
    border: none;
    border-radius: .3em;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-danger:hover {
    color: var(--purple-color);
}

.cart-quantity-input {
    height: 30px;
    width: 38px;
    border-radius: 5px;
    border: 1px solid var(--purple-color);
    background-color: var(--gray-small);
    color: var(--gray-dark);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 10px;
    outline: none;
}

.cart-row:last-child {
    border-bottom: 1px solid var(--gray-medium);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    padding:5px 10px;
    font-size: 1.3rem;
    background-color:var(--purple-color);
    color: var(--gray-medium);
    border: none;
    cursor:pointer;
    border-radius: 5px;
    outline:none;
    
}
.btn-purchase:hover{
  background-color:var(--purple-second);
}