:root {
  --purple-color: #6C46E2;
  --purple-second: #B5AAFA;
  --gray-dark: #2D2D2D;
  --gray-second: #ABABAB;
  --gray-medium:#E0E0E0;
  --gray-small:#F6F6F6;
}

*{
  margin:0;
  padding:0;
  font-family:'Chakra Petch', sans-serif ;
  /* outline:1px solid red; */
}

.Header__wrapper{
  padding:0 12px;
  background-color:var(--purple-color);
  min-width: 320px;
  /* border:1px solid red; */
}

.Header__container-mobile{
  background-color:var(--purple-color);
  height:52px;
  width:100%;
  display:flex;
  align-items:center;
}
.Header__container-desktop{
  background-color:var(--purple-color);
  height:52px;
  width:100%;
  display:flex;
  align-items:center;
  max-width: 1024px;
  margin:0 auto;
 
}
.Header__nav{
  display:flex;
  width:inherit; 
}

.Header__menu{
  color:var(--gray-small);
  font-size: 20px;
  margin-right: 15px;
}

.Header__menu-container{
  position: absolute;
    background:var(--gray-medium);
    /* opacity: .9; */
    top: 0;
    /* left: -90%; */
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
    transform: translateX(-100%);
    will-change: transform;
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index: 2;
}
.Header__menu-container.active{
    top: 0;
    left: 0;
    transform: translateX(0);
    z-index: 1;

}

/* .Header__menu-close {
  font-size: 35px;
  color: var(--purple-color);
  height: 40px;
  width:40px;
  border:1px solid red;
  background-color:var(--purple-second);
  position: absolute;
  left: 20px;
  top: 70px;
  max-width: 375px;
  z-index: 2;
  padding: 20px 30px;
} */

.Header__menu-list{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.Header__menu-item{
  font-weight: bold;
  font-size:28px;
  margin-bottom: 20px;
  color: var(--purple-color);
  list-style: none;
  cursor:pointer;
}
.Header__menu-item:hover{
  color: var(--purple-second);
}



.Header__logo{
  color: var(--gray-small);
  font-size: 24px;
  margin-right: 3px;
}
.Header__list{
  width: inherit;
  /* border:1px solid red; */
  display:flex;
  justify-content: space-between;
}
.Header__list-item{
  color: var(--gray-small);
  list-style: none;
  
}


/*Responsive*/

@media (min-width: 600px) {
  .Header__container-mobile {
    display: none;
  }
}
@media (max-width: 600px) {
  .Header__container-desktop {
    display: none;
  }
}



