@import url(./header.css);

.Modal__container{
    position: fixed;
    display: none;
    opacity: 0;
    top: -15px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms;
    will-change: opacity;
    z-index: 1;
    visibility: hidden;
    overflow: scroll;
  
}

.Modal__container.active{
    opacity: 1;
    display: block;
    z-index: 1;
    visibility: visible;
}


.Modal__wrapper{
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding:0 12px;
}

.Modal__container{
  margin-top:15px;
}

.Modal__title{
  background-color:var(--gray-small);
  border-radius: 10px;
}

.Modal__title-text  {
  text-align: center;
  color:var(--purple-color);
  padding:10px;
  z-index: 200;
  margin-bottom: 15px;
}


.Modal__posts-game{
  display:flex;
  width: 350px;
  height: 190px;
  background-color: var(--gray-small);
  margin-bottom:12px;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  /* Modal */
  position: relative;
  margin:50px auto;
  width:500px;
  height:280px;
}

.Modal__posts-img img{
  object-fit: contain;
  width:150px;
  height:150px;
  margin-right:20px;
  
}

.Modal__posts-info{
  align-content: center;
  /* text-align: center; */
  height:150px;
  width:170px;
  /* border: 1px solid red; */
}
.Modal__posts-info--title{
  color: var(--purple-color);
  font-weight: bold;
  margin-bottom: 8px;
}
.Modal__posts-info--despcrition{
  color:var(--gray-dark);
  font-size: .9rem;
  margin-bottom: 5px;
}
.Modal__posts-info--price{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: var(--purple-color);
  text-align: center;
  color:var(--gray-small);
  width: 100%;
  height:25px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.Modal__posts-info--buttons{
  display:flex;
  justify-content:space-between;
  text-align: center;
  align-items: center;
  position: relative;
  
}
.Modal__posts-eye {
  display: flex;
  justify-content:center;
  align-items: center;
  width:41px;
  height: 31px;
  background-color: var(--gray-second);
  color:var(--gray-small);
  border-radius: 5px;
  cursor: pointer;
  
}
.Modal__posts-cart{
  display: flex;
  justify-content:center;
  align-items: center;
  width:41px;
  height: 31px;
  background-color: var(--purple-color);
  color:var(--gray-small);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  /* border:1px solid red; */

}
.Modal__posts-eye:hover{
  background-color:var(--purple-second);
}
.Modal__posts-cart:hover{
  background-color:var(--purple-second);
}



.Modal__posts-game{
  position: relative;

  margin:50px auto;
  width:500px;
  /* height:280px; */
  /* display:flex;
  justify-content:center;
  
  width:80%;
  height:300px;
  border:1px solid red; */
}

.Modal__posts-img{
  margin-right:20px;
}


.Modal__posts-close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.4rem;
  color:var(--purple-color);
  cursor: pointer;
}




::-webkit-scrollbar{
  display:none;
}

/*Responsive*/

@media (min-width: 600px) {
 
}
@media (max-width: 600px) {
  .Modal__posts-game{
    width:380px
  }
}

