*{
  margin:0;
  padding:0;
  font-family:'Chakra Petch', sans-serif ;
  /* outline:1px solid red; */
}

.Header__wrapper{
  padding:0 12px;
  background-color:#6C46E2;
  min-width: 320px;
}

.Header__container{
  background-color:#6C46E2;
  height:52px;
  width:100%;
  display:flex;
  align-items:center;
}
.Header__nav{
  display:flex;
  width:inherit; 
}

.Header__logo{
  color:#fff;
  margin-right: 10px;
}
.Header__list{
  width: inherit;
  /* border:1px solid red; */
  display:flex;
  justify-content: space-between;
  

}
.Header__list-item{
  color:#fff;
  list-style: none;
}




.Footer__wrapper {
  background-color: #6C46E2;
  position: absolute;
  width: 100%;
  min-width: 345px;
  height: 390px;
  margin-top: 500px;
}
.Footer__container {
  width: 100%;
  min-width: 320px;
  margin-top: 20px;
  text-align: center;
}
.Footer__mobile-columna1 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 40px;
}
.Footer__mobile-redes ul {
 list-style-type: none;
 text-align: center
}
.Footer__mobile-redes li{    /* para ajustar las redes de manera vertical */
  display: inline;
}
.Footer__mobile-redes a{
  margin-top: 40px;
  width: 50px;
  height: 50px;
  color: #fff; 
  text-decoration: none;
  margin-inline: -10px;
}




