@import url(./header.css);

.Games___posts.xbox{
  display:flex;
  /* border: 1px solid red; */
  overflow-y: scroll;
  justify-content:center;
}

.Games___posts.xbox::-webkit-scrollbar {
  /* background-color: var(--gray-small); */
  height: 5px;
}
.Games___posts.xbox::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
  
}

.Games__posts-game.xbox{
  height:360px;
  width:200px;
  display:block;
  align-items:center;
  text-align: center;
  justify-content:center;
  padding:10px;
  margin-right:12px;
}
.Games__posts-img.xbox img{
  object-fit:cover;
  height:198px;
  width:198px;
  border-radius: 10px;
  object-position: 0px 1px;
}
.Games__posts-info.xbox{
  margin:0 auto;
}

/* //Responsive */
@media (min-width: 600px) {
  


}
